 <!-- jQuery -->
 <script src="/public/admin/vendors/jquery/dist/jquery.min.js"></script>
 <!-- Bootstrap -->
 <script src="/public/admin/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
 <!-- bootstrap-daterangepicker -->
 <script src="/public/admin/vendors/moment/min/moment.min.js"></script>
 <!-- Custom Theme Scripts -->
 <script src="/public/admin/js/custom.min.js"></script>