<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Gentelella Alela! | </title>

    <% include common/styles %>
</head>

<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <% include common/nav %>

                <!-- page content -->
                <div class="right_col" role="main">
                    <div class="">
                        <div class="page-title">
                            <div class="title_left">
                                <h3>Form Elements</h3>
                            </div>

                            <div class="title_right">
                                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Search for...">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button">Go!</button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>

                        <div>
                            <% if(flash_messages){ %>
                                <% for (let prop in flash_messages){ %>
                                    <% flash_messages[prop].forEach(err=>{ %>
                                        <div class="alert alert-<%= prop%>">
                                            <%= err%>
                                        </div>
                                        <% }) %>
                                            <% } %>
                                                <% } %>
                        </div>

                        <div class="x_panel">
                            <div class="x_title">
                                <h2>Form Design
                                    <small>different form elements</small>
                                </h2>

                                <ul class="nav navbar-right panel_toolbox">
                                    <li>
                                        <a class="collapse-link">
                                            <i class="fa fa-chevron-up"></i>
                                        </a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                            <i class="fa fa-wrench"></i>
                                        </a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li>
                                                <a href="#">Settings 1</a>
                                            </li>
                                            <li>
                                                <a href="#">Settings 2</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a class="close-link">
                                            <i class="fa fa-close"></i>
                                        </a>
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <br />

                                <table class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Updated Date</th>
                                            <th>Tools</th>
                                        </tr>
                                    </thead>


                                    <tbody>
                                            <% categories.forEach(e=>{ %>
                                                <tr>
                                                    <td>
                                                        <%= e.name %>
                                                    </td>
                                                    <td>
                                                        <%= e.updatedAt.toLocaleString() %>
                                                    </td>
                                                    <td>
                                                        <a href="/admin/category/edit/<%= e._id %>" class="btn btn-info btn-xs">
                                                            <i class="fa fa-pencil"></i> Edit </a>
                                                        <a href="/admin/category/delete/<%= e._id %>" class="btn btn-danger btn-xs">
                                                            <i class="fa fa-trash-o"></i> Delete </a>
                                                    </td>
                                                </tr>
                                                
                                            <% }) %>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- /page content -->

                <% include common/footer %>
        </div>
    </div>

    <% include common/scripts %>

        <% include common/datatables %>

</body>

</html>