<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Gentelella Alela! | </title>

    <% include common/styles %>
</head>

<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <% include common/nav %>

            <!-- page content -->
            <div class="right_col" role="main">
                    <% if(flash_messages){ %>
                        <% for (let prop in flash_messages){ %>
                            <% flash_messages[prop].forEach(err=>{ %>
                                <div class="alert alert-<%= prop%>">
                                    <%= err%>
                                </div>
                            <% }) %>
                        <% } %>
                    <% } %>
            </div>
            <!-- /page content -->

            <% include common/footer %>
        </div>
    </div>

    <% include common/scripts %>
    

</body>

</html>