<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Gentelella Alela! | </title>

    <% include common/styles %>
</head>

<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <% include common/nav %>

                <!-- page content -->
                <div class="right_col" role="main">
                    <div class="">
                        <div class="page-title">
                            <div class="title_left">
                                <h3>Form Elements</h3>
                            </div>

                            <div class="title_right">
                                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Search for...">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button">Go!</button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>

                        <div>
                            <% if(flash_messages){ %>
                                <% for (let prop in flash_messages){ %>
                                    <% flash_messages[prop].forEach(err=>{ %>
                                        <div class="alert alert-<%= prop%>">
                                            <%= err%>
                                        </div>
                                        <% }) %>
                                            <% } %>
                                                <% } %>
                        </div>

                        <div class="x_panel">
                            <div class="x_title">
                                <h2>Form Design
                                    <small>different form elements</small>
                                </h2>

                                <ul class="nav navbar-right panel_toolbox">
                                    <li>
                                        <a class="collapse-link">
                                            <i class="fa fa-chevron-up"></i>
                                        </a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                            <i class="fa fa-wrench"></i>
                                        </a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li>
                                                <a href="#">Settings 1</a>
                                            </li>
                                            <li>
                                                <a href="#">Settings 2</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a class="close-link">
                                            <i class="fa fa-close"></i>
                                        </a>
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <br />

                                <table class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Title</th>
                                            <th>Description</th>
                                            <!-- <th>Content</th> -->
                                            <th>Created Date</th>
                                            <th>Updated Date</th>
                                            <th>Author</th>
                                            <th>Category</th>
                                            <th>Option</th>
                                        </tr>
                                    </thead>


                                    <tbody>
                                        <%articles.forEach(e=>{ %>
                                            <tr>
                                                <td>
                                                    <%= e.title %>
                                                </td>
                                                <td>
                                                    <%= e.description %>
                                                </td>
                                                <!-- <td>
                                                    <%- e.content %>
                                                </td> -->
                                                <td>
                                                    <%= e.createdAt.toLocaleString() %>
                                                </td>
                                                <td>
                                                    <%= e.updatedAt.toLocaleString() %>
                                                </td>
                                                <td>
                                                    <%= e.author.username %>
                                                </td>
                                                <td>
                                                    <%= e.category.name %>
                                                </td>
                                                <td>
                                                    <a href="/post/<%= e.url %>" class="btn btn-primary btn-xs" target="_blank">
                                                        <i class="fa fa-folder"></i> View </a>
                                                </td>
                                            </tr>
                                            <% }) %>
                                    </tbody>
                                </table>
                                <div class="text-center">
                                    <% if (pages > 0) { %>
                                        <ul class="pagination text-center">
                                            <% if (current == 1) { %>
                                                <li class="disabled">
                                                    <a>First</a>
                                                </li>
                                                <% } else { %>
                                                    <li>
                                                        <a href="/admin/article/manage/1">First</a>
                                                    </li>
                                                    <% } %>
                                                        <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                                                            <% if (i !== 1) { %>
                                                                <li class="disabled">
                                                                    <a>...</a>
                                                                </li>
                                                                <% } %>
                                                                    <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                                                                        <% if (i == current) { %>
                                                                            <li class="active">
                                                                                <a>
                                                                                    <%= i %>
                                                                                </a>
                                                                            </li>
                                                                            <% } else { %>
                                                                                <li>
                                                                                    <a href="/admin/article/manage/<%= i %>">
                                                                                        <%= i %>
                                                                                    </a>
                                                                                </li>
                                                                                <% } %>
                                                                                    <% if (i == Number(current) + 4 && i < pages) { %>
                                                                                        <li class="disabled">
                                                                                            <a>...</a>
                                                                                        </li>
                                                                                        <% } %>
                                                                                            <% } %>
                                                                                                <% if (current == pages) { %>
                                                                                                    <li class="disabled">
                                                                                                        <a>Last</a>
                                                                                                    </li>
                                                                                                    <% } else { %>
                                                                                                        <li>
                                                                                                            <a href="/admin/article/manage/<%= pages %>">Last</a>
                                                                                                        </li>
                                                                                                        <% } %>
                                        </ul>
                                        <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /page content -->

                <% include common/footer %>
        </div>
    </div>

    <% include common/scripts %>

        <% include common/datatables %>

</body>

</html>